/*======== General Styles ========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

/*======== Define color themes using CSS variables ========*/
:root {
    --background-color-dark: #282a36;
    --background-color-light: #e2e2e2;
    --text-color-dark: #f8f8f2;
    --text-color-light: #202020;
}

body.theme-dark {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
}

body.theme-light {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

.profile-card {
    width: 300px;
    border-top: 1px solid rgba(255, 49, 49, 0.5);
    border-right: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(255, 255, 113, 0.5);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    background: transparent;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
}

span {
    position: absolute;
    border-radius: 100vmax;
  }
  
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 20),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 113),
      rgba(255, 255, 113, 0.5),
      transparent 70%
    );
  }
  
  .top {
    animation: animateTop 3s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 3s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
}

.profile-info h1, .profile-info p {
    margin-bottom: 20px;
}

/*======== Theme Toggle Button Styling ========*/
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #ff79c6;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.theme-toggle:hover {
    background-color: #e94560;
    transform: rotate(180deg);
}

/*====== Social Links Styling ========*/
.social-links a {
    color: var(--text-color);
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;  
}

.social-links a:hover {
    color: #e94560; 
    transform: scale(1.1); 
    box-shadow: 0 0 15px #e94560;
}

/*======== Media queries ========*/
@media (max-width: 768px) {
    .profile-card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .profile-info h1 {
        font-size: 22px;
    }
}
